@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

.main-text{
    display:grid;
    row-gap:3rem;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin:0; 
}

header h1{
    display:inline-block;
    font-family: 'Inconsolata', monospace;
    font-size:24px;
    font-weight:700;
    text-transform:uppercase;
    margin:1rem clamp(1.5rem, 5vw, 3.5rem);
    letter-spacing:-1px;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

/* set up the body */
body {
    display:grid;
    line-height: 1.5;
    min-height: 100vh;
    grid-template-rows: min-content 1fr;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
    
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

.grid-container{
    display: grid;
    place-items:center;
    column-gap:5rem;
    padding:1rem;
}



button{
    border:0;
    background-color:hsla(0, 0%, 20%, 1);
    color:hsla(0, 0%, 100%, 1);
    padding:1.5em 2em ;
    text-transform:uppercase;
    font-size:14px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    cursor:pointer;
    width:13.5rem;
    height:4.25rem;
}

.grid-container h1{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size:64px;
    color:hsla(0, 0%, 20%, 1);
    letter-spacing:-3.5%;
}

.grid-container h2{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size:24px;
    color:hsla(0, 0%, 31%, 1); 
    max-width:27ch;
    letter-spacing:-3.5%;
}

footer{
    display:flex;
    justify-content:center;
    align-items:end;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    font-size:14px;
    color:hsla(0, 0%, 74%, 1);
    padding:5rem 0 1rem;
}

footer span{
    font-weight:700;
    padding-inline:.3rem;
}

@media (max-width: 64em) {
    .grid-container h1{
        font-size:40px;
    }
    
    .grid-container h2{
        font-size:18px;
    }
}

@media (min-width: 50em) {
.grid-container{
    padding:0;
   grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(2rem, 1fr);}
   
   .grid-container > *:first-child {
    grid-column: 2;
}

.grid-container > *:last-child {
    grid-column: 3;
}
}